#header-contain {
  width: 100%;
  height: 624px;
  background-image: url("/src/img/pool@2x.png");
  background-size: cover;
  background-position: center;
  nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0;
    font-family: Satoshi-Medium;
    background-color: #e8d7c3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .header-punch-line {
    color: #e8d7c3;
    font-family: SemplicitaPro-Semibold;
  }
  .header-languages {
    text-transform: uppercase;
  }

  #navigate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 10%;
    position: fixed;
    top: 120px;
    left: 0;
    background: #e8d7c3;
  }
  .header-nav {
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .header-nav.is-active {
    transform: translateX(0%);
  }

  .header-nav a:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .header-burger.is-rotated {
    transform: rotate(90deg);
    transition-duration: 0.5s;
  }
}
