#header-contain {
  @media (max-width: 768px) {
    .header-punch-line {
      font-size: 20px;
      letter-spacing: 1.76px;
      line-height: 27px;
    }
  }
  @media (min-width: 768px) {
    .header-punch-line {
      width: 400px;
      font-size: 32px;
      letter-spacing: 2.82px;
      margin: 10% 2%;
    }
  }
  nav {
    font-family: Satoshi-Medium;
    background-color: #e8d7c3;
  }
  .header-punch-line {
    color: #e8d7c3;
    font-family: SemplicitaPro-Semibold;
  }
  .header-languages {
    text-transform: uppercase;
  }
}
