#header-contain {
  nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0;
    font-family: Satoshi-Medium;
    background-color: #e8d7c3;
  }
  .header-punch-line {
    color: #e8d7c3;
    font-family: SemplicitaPro-Semibold;
  }
  .header-languages {
    text-transform: uppercase;
  }

  #navigate {
    position: fixed;
    top: 120px;
    left: 0;
    background: #e8d7c3;
  }
  .header-nav {
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .header-nav.is-active {
    transform: translateX(0%);
  }

  .header-nav a:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .header-burger.is-rotated {
    transform: rotate(90deg);
    transition-duration: 0.5s;
  }
}
