#location-contain {
  background-color: #80cbfb;
  font-family: Satoshi-Regular;
  font-size: 35px;
  color: #131313;
  letter-spacing: 3.08px;
  li {
    line-height: 1.5;
  }
  .location-text {
    display: flex;
    justify-content: center;
  }
  .location-img {
    img {
      object-fit: cover;
    }
  }
}
