#products-contain {
  h2 {
    font-family: SemplicitaPro-Semibold;
    color: #131313;
  }

  .bottles:hover {
    filter: blur(1px);
    transition-duration: 0.2s;
  }

  .product-range {
    display: none;
  }
  .is-revealed {
    display: flex;
  }
}
