#products-contain {
  h2 {
    font-family: SemplicitaPro-Semibold;
    color: #131313;
  }

  .bottles:hover {
  }

  .product-range {
    display: none;
  }
  .is-revealed {
    display: flex;
  }
}

.button:hover {
  background-color: white;
}
