/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: Satoshi-Regular;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// font-family: "semplicitapro", sans-serif;
// font-weight: 400;
// font-style: normal;

header {
  height: 624px;
  background-image: url("/src/img/pool@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-family: SemplicitaPro-Semibold;
  font-size: 36px;
  color: #131313;
  letter-spacing: 5.69px;
  text-transform: uppercase;
}
