// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
#header-contain {
  width: 100%;
  height: 624px;
  background-image: url("/src/img/pool@2x.png");
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    height: 910px;
    nav {
      padding: 40px 50px;
    }
    .header-burger {
      width: 31px;
    }
    .header-languages {
      font-size: 10px;
      line-height: 12px;
    }
    .header-punch-line {
      font-size: 20px;
      letter-spacing: 1.76px;
      line-height: 27px;
      width: 173px;
      margin: 15% 2%;
    }
    .header-valeurs {
      width: 161px;
      margin: 0% 0%;
    }
  }

  @media (min-width: 768px) {
    nav {
      padding: 40px 50px;
    }
    .header-burger {
      width: 60px;
    }
    .header-languages {
      font-size: 17px;
      line-height: 21px;
    }
    .header-punch-line {
      width: 400px;
      font-size: 32px;
      letter-spacing: 2.82px;
      margin: 10% 2%;
    }
    .header-valeurs {
      width: 187px;
      margin: 0% 2%;
    }
  }
  #navigate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @media (max-width: 768px) {
      height: 844px;
      padding-left: 25px;
      h2 {
        font-size: 30px;
        letter-spacing: 4.74px;
      }
      a {
        font-size: 20px;
        letter-spacing: 1.76px;
        margin: 15px;
      }
    }
    @media (min-width: 768px) {
      padding-left: 60px;
      h2 {
        font-size: 30px;
        font-size: 36px;
        letter-spacing: 5.69px;
      }
      a {
        font-size: 29px;
        letter-spacing: 2.55px;
        margin: 15px;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  h1 {
    font-size: 32px;
    letter-spacing: 2.82px;
    text-align: center;
  }
  .header-languages {
    text-align: end;
  }
}

#products-contain {
  @media (max-width: 768px) {
    h2 {
      font-size: 30px;
      line-height: 42px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .description {
      font-size: 18px;
      line-height: 22px;
    }
    .button {
      margin-top: 81px;
    }
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      line-height: 50px;
      margin-bottom: 7px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .description {
      font-size: 22px;
      line-height: 27px;
    }
    .button {
      margin-top: 27px;
    }
  }
  @media (max-width: 768px) {
    .l-article {
      padding: 50px;
      width: 100%;
      font-size: 18px;
      color: #131313;
      letter-spacing: 1.58px;
      text-overflow: hidden;
      box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.5);
    }
    .bottles {
      width: 85px;
      margin: 20px;
    }
    .l-mockup {
      padding: 93px 41px;
      // z-index: -1;
    }
  }
  @media (min-width: 768px) {
    .l-article {
      padding: 85px 94px;
      width: 100%;
      font-size: 22px;
      color: #131313;
      letter-spacing: 1.94px;
      box-shadow: none;
    }
    .bottles {
      width: 167px;
      margin: 0 110px;
    }
    .l-mockup {
      padding: 41px 240px;
      // z-index: -1;
    }
  }
  .product-img {
    height: 100%;
    img {
      object-fit: cover;
    }
  }

  .l-mockup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // z-index: -1;
  }
  .l-article {
    // z-index: 1;
  }

  .button {
    font-size: 22px;
    line-height: 31px;
    background: black;
    width: 152px;
    padding: 7px 26px;
  }
}

#location-contain {
  @media (max-width: 768px) {
    .location-img {
      display: none;
    }
    .location-text {
      font-size: 20px;
      letter-spacing: 1.76px;
    }

    h2 {
      font-size: 30px;
      letter-spacing: 2.84px;
      margin-bottom: 15px;
    }
  }
  @media (min-width: 768px) {
    .location-img {
      display: visible;
    }
    .location-text {
      font-size: 35px;
      letter-spacing: 3.08px;
    }
    h2 {
      font-size: 36px;
      letter-spacing: 5.69px;
      margin-bottom: 36px;
    }
  }
  @media (max-width: 768px) {
    .l-location {
      padding: 62px 73px;
    }
  }
  @media (min-width: 768px) {
    .l-location {
      padding: 56px 42px;
    }
  }
}

#footer-contain {
  padding: 10%;

  @media (max-width: 768px) {
    .footer-drink {
      width: 40px;
      margin-bottom: 55px;
    }
    .footer-social img {
      width: 40px;
      margin-right: 40px;
    }
    .footer-logo {
      width: 71px;
    }
    .footer-legal {
      font-size: 23px;
      color: #131313;
      letter-spacing: 3.63px;
    }
  }
  @media (min-width: 768px) {
    .footer-drink {
      width: 51px;
      margin-bottom: 70px;
    }
    .footer-social img {
      width: 62px;
      margin-right: 60px;
    }
    .footer-logo {
      width: 84px;
    }
    .footer-legal {
      font-size: 23px;

      letter-spacing: 3.63px;
    }
  }
  .footer-social {
    display: flex;
    justify-content: flex-end;
  }
  .l-drink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
  }
}
