.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

#header-contain {
  @media (max-width: 768px) {
    .header-burger {
      width: 31px;
    }
    .header-languages {
      font-size: 10px;
      line-height: 12px;
    }
    .header-punch-line {
      font-size: 20px;
      line-height: 27px;
    }
    .header-valeurs {
      width: 161px;
    }
  }

  @media (min-width: 768px) {
    .header-burger {
      width: 60px;
    }
    .header-languages {
      font-size: 17px;
      line-height: 21px;
    }
    .header-punch-line {
      font-size: 32px;
      line-height: 45px;
    }
    .header-valeurs {
      width: 187px;
    }
  }
}

#products-contain {
  @media (max-width: 768px) {
    h2 {
      font-size: 30px;
      line-height: 42px;
    }
    img {
      width: 100%;
    }
    .description {
      font-size: 18px;
      line-height: 22px;
    }
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      line-height: 50px;
    }
    img {
      width: 1440px;
    }
    .description {
      font-size: 22px;
      line-height: 27px;
    }
  }

  .button {
    font-size: 22px;
    line-height: 31px;
  }
}

#location-contain {
  @media (max-width: 768px) {
    .location-img {
      display: none;
    }
    .location-text {
      font-size: 20px;
      letter-spacing: 1.76px;
    }

    h2 {
      font-size: 18px;
      letter-spacing: 2.84px;
    }
  }
  @media (min-width: 768px) {
    .location-img {
      display: visible;
    }
    .location-text {
      font-size: 35px;
      letter-spacing: 3.08px;
    }
    h2 {
      font-size: 36px;

      letter-spacing: 5.69px;
    }
  }
  ul {
    list-style: none;
  }
}

#footer-contain {
  @media (max-width: 768px) {
    .footer-drink {
      width: 40px;
    }
    .footer-social img {
      width: 40px;
    }
    .footer-logo {
      width: 71px;
    }
    .footer-legal {
      font-size: 23px;
      color: #131313;
      letter-spacing: 3.63px;
    }
  }
  @media (min-width: 768px) {
    .footer-drink {
      width: 51px;
    }
    .footer-social img {
      width: 62px;
    }
    .footer-logo {
      width: 84px;
    }
    .footer-legal {
      font-size: 23px;

      letter-spacing: 3.63px;
    }
  }
}
